<nav>
  <ol class='nav-list'>
    <li>
      <strong>Savon</strong>
      <ol>
        <li><a href='/#installation'>Installation</a></li>
        <li><a href='/#getting-started'>Getting started</a></li>
        <li><a href='/#executing-soap-requests'>SOAP requests</a></li>
        <li><a href='/#handling-the-response'>SOAP response</a></li>
        <li><a href='/#creating-model-objects'>Model objects</a></li>
        <li><a href='/#configuration'>Configuration</a></li>
        <li><a href='/#code-hooks'>Code hooks</a></li>
        <li><a href='/#additional-resources'>Resources</a></li>
        <li><a href='/#alternatives'>Alternatives</a></li>
      </ol>
    </li>
    <li>
      <strong>Examples</strong>
      <ol>
        <li><a href='/examples.html#bank-code-lookup'>Bank code lookup</a></li>
        <li><a href='/examples.html#ebays-official-time'>eBay&#8217;s time</a></li>
      </ol>
    </li>
    <li class='separate'><a href='/changelog.html'>Changelog</a></li>
    <li>
      <strong>Blog</strong>
      <ol>
        {% for post in site.posts %}
        <li><a href='{{ post.url }}'>{{ post.title }}</a></li>
        {% endfor %}
      </ol>
    </li>
  </ol>
  &nbsp;
</nav>
