<nav>
  <ol class='nav-list'>
    <li>
      <strong>Version 2</strong>
      <ol>
        <li><a href='/version2.html#client'>Client</a></li>
        <li><a href='/version2.html#globals'>Globals</a></li>
        <li>
          <ol class="submenu">
            <li><a href='/version2.html#globals-http'>HTTP</a></li>
            <li><a href='/version2.html#globals-request'>Request</a></li>
            <li><a href='/version2.html#globals-authentication'>Authentication</a></li>
            <li><a href='/version2.html#globals-response'>Response</a></li>
            <li><a href='/version2.html#globals-logging'>Logging</a></li>
          </ol>
        </li>
        <li><a href='/version2.html#requests'>Requests</a></li>
        <li><a href='/version2.html#locals'>Locals</a></li>
        <li>
          <ol class="submenu">
            <li><a href='/version2.html#locals-http'>HTTP</a></li>
            <li><a href='/version2.html#locals-request'>Request</a></li>
            <li><a href='/version2.html#locals-response'>Response</a></li>
          </ol>
        </li>
        <li><a href='/version2.html#errors'>Errors</a></li>
        <li><a href='/version2.html#response'>Response</a></li>
        <li><a href='/version2.html#model'>Model</a></li>
        <li><a href='/version2.html#observers'>Observers</a></li>
        <li><a href='/version2.html#testing'>Testing</a></li>
        <li><a href='/version2.html#changes'>Changes</a></li>
      </ol>
    </li>
    <li>
      <strong>Version 1</strong>
      <ol>
        <li><a href='/'>Back to version 1</a></li>
      </ol>
    </li>
  </ol>
  &nbsp;
</nav>
