@import compass/css3/box-shadow
@import compass/css3/border-radius
@import compass/css3/transition

body
  background: #ebebeb url(../images/noise.jpg) fixed
  color: #666

#title
  margin-bottom: 60px
  h2
    color: #d08439
    border: 0
    margin: 0 0 0 150px
    padding: 0

h2
  border-bottom: 1px dashed #ccc
  color: #444
  margin: 40px 0 1.25em 0
  padding: 40px 0 0.5em 0
  +transition("color", 0.15s, ease-in-out)
  &:hover
    color: #d08439
article.blog h2
  margin-bottom: 0.6em

h3
  color: #555
  margin: 4em 0 1em 0

a
  &:link, &:visited
    color: #d08439
    text-decoration: none
  &:hover, &:active
    color: #d08439
    text-decoration: underline

p, ul, ol, pre
  margin-bottom: 1.5em
strong
  font-weight: bold
  color: #d08439
ul
  list-style: disc outside
  padding-left: 29px
ol
  list-style: decimal-leading-zero outside
  padding-left: 29px
blockquote
  border-left: 2px solid #ccc
  color: #999
  padding-left: 1em

/* CODE */

a:hover code, a:active code
  background: #d08439
  color: #f3f3f3
  text-decoration: none
  +box-shadow(#fff, 1px, 1px, 0, 0, inset)
code
  background: rgba(180, 180, 180, 0.1)
  padding: 3px 6px 4px 6px
  white-space: nowrap
  +border-radius(3px)
  +box-shadow(#ddd, 1px, 1px, 3px, 0, inset)

pre code
  display: block
  margin: 1.25em 0
  padding: 0.75em 1.25em
  overflow: auto
  white-space: pre

pre code::-webkit-scrollbar
  height: 8px
  width: 8px

pre code::-webkit-scrollbar-track-piece
  margin-bottom: 10px
  background: #e5e5e5
  +border-radius(3px)

pre code::-webkit-scrollbar-thumb:vertical
  height: 25px
  background: #ccc
  +border-radius(3px)

pre code::-webkit-scrollbar-thumb:horizontal
  width: 25px
  background: #ccc
  +border-radius(3px)

/* LAYOUT */

.center
  width: 960px
  margin: 0 auto

.container
  width: 960px
  margin: 50px auto 25px auto

#content
  float: left
  margin-left: 60px
  width: 740px

.tagline
  width: 600px

nav
  float: left
  width: 160px

  .nav-list
    position: fixed
    padding-top: 40px
    width: 160px
  li.separate
    margin-bottom: 1.5em
  ol
    list-style: none
    padding: 0
    ol
      margin-left: 10px

time
  display: block
  margin-bottom: 3em
  font-style: italic

article strong
  display: inline-block
  padding-top: 25px

#disqus_thread
  margin-top: 90px

footer
  color: #aaa
  font-style: italic
  margin-top: 100px
  padding: 15px 0 20px
  &.smaller
    margin-top: 0

/* CLEARFIX */

.container:after
  content: "\0020"
  display: block
  height: 0
  clear: both
  visibility: hidden

.clearfix:before, .clearfix:after
  content: '\0020'
  display: block
  overflow: hidden
  visibility: hidden
  width: 0
  height: 0
.clearfix:after
  clear: both
.clearfix
  zoom: 1

.clear
  clear: both
  display: block
  overflow: hidden
  visibility: hidden
  width: 0
  height: 0
