@font-face
  font-family: 'Inconsolata'
  src: url('../fonts/inconsolata/Inconsolata-webfont.eot')
  src: url('../fonts/inconsolata/Inconsolata-webfont.eot?iefix') format("eot"), url('../fonts/inconsolata/Inconsolata-webfont.woff') format("woff"), url('../fonts/inconsolata/Inconsolata-webfont.ttf') format("truetype"), url('../fonts/inconsolata/Inconsolata-webfont.svg#webfont7qFjZ0xl') format("svg")
  font-weight: normal
  font-style: normal


body
  font: 14px/22px "Droid Sans", sans-serif
  /* Fix for webkit rendering */
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%

h2
  font-family: "Droid Sans", sans-serif
  font-size: 30px
  text-shadow: #eee 1px 1px 1px
h3
  font-family: "Droid Sans", sans-serif
  font-size: 16px
  font-weight: bold

pre, code
  font: 14px/18px Inconsolata, Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace

blockquote
  font-style: italic

footer
  font-size: 13px
  line-height: 20px
