<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="google-site-verification" content="BSMPrQXuQ6oR3VoyILGebkF0glrpfN58u5jHQap0r3Y">
    <title>Savon: Heavy metal SOAP client</title>
    <link rel="stylesheet" href="/stylesheets/application.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alex+Brush">
    <!--[if lt IE 9]>
      <script src="/javascripts/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <nav>
        <ol class='nav-list'>
          <li>
            <strong>Savon</strong>
            <ol>
              <li><a href='/#installation'>Installation</a></li>
              <li><a href='/#getting-started'>Getting started</a></li>
              <li><a href='/#executing-soap-requests'>SOAP requests</a></li>
              <li><a href='/#handling-the-response'>SOAP response</a></li>
              <li><a href='/#creating-model-objects'>Model objects</a></li>
              <li><a href='/#configuration'>Configuration</a></li>
              <li><a href='/#code-hooks'>Code hooks</a></li>
              <li><a href='/#additional-resources'>Resources</a></li>
              <li><a href='/#alternatives'>Alternatives</a></li>
            </ol>
          </li>
          <li>
            <strong>Examples</strong>
            <ol>
              <li><a href='/examples.html#bank-code-lookup'>Bank code lookup</a></li>
              <li><a href='/examples.html#ebays-official-time'>eBay&#8217;s time</a></li>
            </ol>
          </li>
          <li class='separate'><a href='/changelog.html'>Changelog</a></li>
          <li>
            <strong>Blog</strong>
            <ol>
              <li><a href='/milestones.html'>Milestones</a></li>
            </ol>
          </li>
        </ol>
        &nbsp;
      </nav>

      <div id="content">
        <header>
          <hgroup id="title">
            <h1>Savon</h1>
            <h2>Heavy metal Soap client</h2>
          </hgroup>
          <p class="tagline">
            Savon helps you talk to SOAP services. It abstracts a lot of insanity, but I would still recommend getting familiar with
            <a href="http://www.w3.org/TR/soap/">SOAP</a> and <a href="http://www.w3.org/TR/wsdl">WSDL</a> documents.
          </p>
        </header>

        <article>
          {{content}}
        </article>

        <div id="disqus_thread"></div>

        <footer class="smaller">
          &copy; 2012 Daniel Harrington<br />
          Savon may be freely distributed under the MIT license.
        </footer>
      </div>
    </div>

    <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
    <script>
      var _gaq=[["_setAccount","UA-595428-4"],["_trackPageview"],["_trackPageLoadTime"]];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
      s.parentNode.insertBefore(g,s)}(document,"script"));
    </script>

    <script>
      var disqus_shortname = 'savon';

      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
  </body>
</html>
