<!doctype html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }} - Savon: Heavy metal Ruby SOAP client</title>
		<link rel="stylesheet" href="/stylesheets/application.css">
	</head>

  <body>
    <a class="github" href="https://github.com/rubiii/savon">
      <span>Fork me on GitHub</span>
      <span>Heavy Metal!</span>
    </a>

    <header>
      <div class="center">
        <hgroup id="logo">
          <h1>Savon</h1>
          <h2>Heavy metal Ruby SOAP client</h2>
        </hgroup>
        <div class="buttons">
          <a href="http://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
          <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsavonrb.com&amp;layout=button_count&amp;show_faces=false&amp;width=50&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=20&amp;locale=en_US" scrolling="no" frameborder="0" class="facebook-like-button" allowTransparency="true"></iframe>
        </div>
        <p>
          Savon aims to be a simple but awesome abstraction of your SOAP service.
          Make sure to be<br />familiar with <a href="http://www.w3.org/TR/soap/">SOAP</a>,
          <a href="http://www.w3.org/TR/wsdl">WSDL</a> documents and install
          <a href="http://www.eviware.com">soapUI</a> before going Heavy Metal!
        </p>
      </div>
    </header>

    <nav>
      <div class="center">
        {% include menu.md %}
      </div>
    </nav>

    <div id="stage">
      <div class="center">
        {{content}}
      </div>
		</div>

    <footer>
      <div class="center">
        {% include footer.md %}
      </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
    <script>window.jQuery || document.write("<script src='/javascripts/lib/jquery-1.5.1.min.js'>\x3C/script>")</script>
    <script src="/javascripts/lib/jquery.easing.1.3.js"></script>
    <script src="/javascripts/application.js"></script>

    <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
    <script>
      var _gaq=[["_setAccount","UA-595428-4"],["_trackPageview"]];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
      s.parentNode.insertBefore(g,s)}(document,"script"));
    </script>
	</body>
</html>
